<template>
  <el-dialog
    :visible.sync="show"
    :before-close="cancel"
    width="20%">
    <el-row>
      <el-button type="primary" round style="width: 100%" @click="createGateway"> {{ $t('gateway.create') }} </el-button>
    </el-row>
    <br>
    <el-row>
      <el-button type="warning" round style="width: 100%" @click="createPath"> {{ $t('path.create') }} </el-button>
    </el-row>
  </el-dialog>
</template>

<script>

export default {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {
    cancel() {
      // this.$confirm('确认关闭？')
      //   .then(_ => {
      this.$emit('onCancel')
      // })
      // .catch(_ => {});
    },
    createGateway() {
      this.$emit('onCreateGateway')
    },
    createPath() {
      this.$emit('onCreatePath')
    }
  }
}
</script>
