<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button class="filter-item" type="primary" icon="el-icon-plus" @click="showCreateModal"/>
      <el-button class="filter-item" type="danger" icon="el-icon-delete" @click="deleteUser(selectedData)"/>
      <el-input :placeholder="$t('general.search')" style="width: 200px; margin-left: 10px" class="filter-item" clearable @input="debounceInput"/>
      <el-autocomplete
        v-model="searchQuery"
        :fetch-suggestions="querySearchAsync"
        :placeholder="$t('general.search')"
        class="filter-item"
        style="width: 200px; margin-left: 10px"
        clearable
        @select="handleSelect"
      />
    </div>
    <el-table :data="tableData" style="width: 100%" border @sort-change="handleSortChange" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('general.ID')" prop="userId" sortable="custom"/>
      <el-table-column :label="$t('user.username')" prop="username" sortable="custom"/>
      <el-table-column :label="$t('user.role')" prop="role" sortable="custom"/>
      <el-table-column :label="$t('user.ip')" prop="ip" sortable="custom"/>
      <el-table-column :label="$t('user.lastLogin')" prop="lastLogin" sortable="custom"/>
      <el-table-column :label="$t('user.status.status')" prop="status" >
        <template slot-scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{ statusTranslate(scope.row.status) }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditUserModal(scope.row.ID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteUser(scope.row.ID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
    <CreateModal
      :show="modal.create"
      :user="user"
      @onConfirm="createUser"
      @onCancel=" modal.create = false "
    />
    <EditModal
      :show="modal.edit"
      :user="user"
      @onConfirm="editUser"
      @onCancel=" modal.edit = false "
    />
    <DetailModal
      :show="modal.detail"
      :user="user"
      @onCancel=" modal.detail = false "
    />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'
import CreateModal from './components/CreateModal'
import EditModal from './components/EditModal'
import DetailModal from './components/DetailModal'
import _ from 'lodash'

export default {
  name: 'User',
  components: {
    Pagination,
    CreateModal,
    EditModal,
    DetailModal
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        A: 'success',
        I: 'danger',
        D: 'danger',
        default: ''
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      tableData: [],
      selectedData: [],
      searchQuery: '',
      user: {},
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'userId',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false
      }
    }
  },
  computed: {

  },
  watch: {
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    }
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getUserList()
    },
    // new 1
    getUserList() {
      this.$store.dispatch('getUserList', this.params).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    statusTranslate(status) {
      const statusTextMap = {
        A: this.$t('user.status.A'),
        I: this.$t('user.status.I'),
        D: this.$t('user.status.D')
      }
      return statusTextMap[status]
    },
    querySearchAsync(query, cb) {
      _.debounce(() => {
        this.$store.dispatch('searchUser', { query: query }).then((json) => {
          const result = []
          json.forEach((item) => result.push({ value: item.username }))
          cb(result)
        })
      }, 500)()
    },
    showCreateModal() {
      this.modal.create = true
    },
    showEditUserModal() {
      this.modal.edit = true
    },
    search(query) {
      this.params.search = query
    },
    createUser() {
      this.$store.dispatch('createUser', this.user).then((json) => {
        this.user = {} // reset user
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
      })
    },
    editUser(ID) {
      this.$store.dispatch('editUser', this.user).then((json) => {
        this.user = {} // reset user
        this.modal.edit = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
      })
    },
    deleteUser(ID) {
      this.$confirm('确认删除？').then(() => {
        this.$store.dispatch('deleteUser', { ID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'userId'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.ID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    }
  }
}
</script>

<style scoped>

</style>
